* {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    background-color:rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.75);
    border: 1px solid black;
    border-radius: 999px;
}
::-webkit-scrollbar-thumb:vertical {
    width: 20px;
    height: 20px;
}
::-webkit-scrollbar-corner {
    background-color: black;
}
body {
    margin: 0;
    background-color: black;
    font-family: "Arial";
    font-size: 16px;
    white-space: nowrap;
}
button {
    outline: none;
}
.fa {
    pointer-events: none;
}
.spacer-height {
    display: inline-block;
    height: 90vh;
    width: 1px;
}

.spacer-width {
    display: inline-block;
    height: 1px;
    width: 90vw;
}

.line-height-none {
    line-height: 0;
}